<div class="home">
  <section class="slide-show">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active home_first-slider">
          <h1>Más huéspedes, Más dinero, Más simple</h1>
          <%= link_to '#contact' do %>
            <h4>Escríbenos!</h4>
          <% end %>
          <img src="https://images.pexels.com/photos/709767/pexels-photo-709767.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="CUARTO DE HOTEL1" class="hidden-sm hidden-md hidden-lg hiden-xl">
        </div>

        <div class="item home_second-slider">
          <h1>Administramos propiedades en Cartagena, Santa Marta y Barranquilla</h1>
          <h4>Escríbenos!</h4>
          <img src="https://images.pexels.com/photos/769585/pexels-photo-769585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="CUARTO DE HOTEL2" class="hidden-sm hidden-md hidden-lg hiden-xl">
        </div>

        <div class="item home_third-slider">
          <h1>Aumenta tus ingresos hasta en un 45%</h1>
          <h4>Escríbenos!</h4>
          <img src="https://images.pexels.com/photos/533157/pexels-photo-533157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="hidden-md hidden-lg hiden-xl">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section class="services" id="services">
  <div class="services_header">
    <h1>LO QUE HACEMOS POR TI</h1>
  </div>
  <div class="services_icons">
    <div class="service">
      <%= image_tag 'icon15.png' %>
      <h4>Calidad 5 Estrellas</h4>
      <p>Nuestra experiencia, herramientas y personal con experiencia en hotelería  convertirán rápidamente tu propiedad en un activo generador de ingresos. Le aseguramos satisfacción a los huéspedes y a los propietarios.</p>
    </div>
    <div class="service">
      <%= image_tag 'icon1.png' %>
      <h4>Conserjería VIP</h4>
      <p>Nos encargamos las comunicaciones con huéspedes, evaluación de clientes, entrega de llaves y presentación personal de tu propiedad. Tambien, ya sea un alquiler de yate privado, reservas o transporte VIP, nuestro equipo cumple con los requisitos.</p>
    </div>
    <div class="service">
      <%= image_tag 'icon2.png' %>
      <h4>Lavado de Lencería</h4>
      <p>Nos aseguramos que tu propiedad permanezca bien mantenida.Las sábanas y toallas deben estar siempre listas e impecables, utilizamos proveedores, equipos e insumos industriales para asegurar un 100% de limpieza y los mas altos estándares.</p>
    </div>
    <div class="service">
      <%= image_tag 'icon4.png' %>
      <h4>Manejo de Calendario</h4>
      <p>In here some text about the icon that will describe breifly what it does and what it should do. There will probably be a couple of more lines so im just adding this stuff in here to make bulk and avoid using the fucking Lorem Ipsum that everyone uses.</p>
    </div>
    <div class="service">
      <%= image_tag 'icon5.png' %>
      <h4>Mas Ingresos</h4>
      <p>Los administradores locales le hacen un análisis de cada propiedad, cuentan con conocimiento extensivo del mercado para asegurarle los mejores rendimientos, optimizamos los precios para asegurarte los mayores ingresos.</p>
    </div>
    <div class="service">
      <%= image_tag 'icon6.png' %>
      <h4>Mantenimiento Profesional</h4>
      <p>Contamos con un equipo especializado para el cuidado de tu hogar. Si es necesario arreglar algo, se te notificará de inmediato y nuestros técnicos profesionales de mantenimiento resolverán rápidamente cualquier problema antes de que lleguen los próximos huéspedes.</p>
    </div>
  </div>

  </section>
  <section class="how-it-works" id="how-it-works">
    <div class="how-it-works_header">
      <h1>COMO FUNCIONA?</h1>
    </div>
    <div class="how-it-works_text">
      <div class="how-it-works_card">
        <%= image_tag 'icon10.png' %>
        <div>
          <h4>Llena Nuestro Formulario</h4>
          <h6>Examinamos tu propiedad, te enviamos una propuesta con análisis y proyecciones</h6>
        </div>
      </div>
      <div class="how-it-works_card">
        <%= image_tag 'icon11.png' %>
        <div>
          <h4>Creamos Tu Cuenta en AirBnb</h4>
          <h6>Nos encargamos de todo el proceso de reserva, también coordinamos limpieza y mantenimientos</h6>
        </div>
      </div>
      <div class="how-it-works_card">
        <%= image_tag 'icon13.png' %>
        <div>
          <h4>Empieza a Ganar</h4>
          <h6>Todo el dinero va directo a tu cuenta. A final del mes te enviamos un reporte de huéspedes e ingresos, nuestra comisión es del 10%-20% dependiendo del plan que escojas.</h6>
        </div>
      </div>
      <div class="how-it-works_card">
        <%= image_tag 'icon12.png' %>
        <div>
          <h4>Super, Todo Listo!</h4>
          <h6>Quedamos atentos 24/7 para resolver cualquier inquietud.</h6>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews" id="reviews">
    <div class="reviews_header">
      <h1>ESCUCHA A NUESTROS CREYENTES</h1>
    </div>
    <div id="reviews-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
        <li data-target="#page3" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active" id="page1">
          <div class="review-page" alt="1">
            <div class="review-card">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_label">
                <%= image_tag 'nathan.png' %>
                <h6>Gil R.</h6>
                <%= image_tag 'stars.png' %>
              </div>
              <div class="review-card_text">
                <p>La ubicación excelente, las instalaciones muy limpias y hermosas, todo estuvo genial, muy recomendado.</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_label">
                <%= image_tag 'andrea.png' %>
                <h6>Gloria P.</h6>
                <%= image_tag 'stars.png' %>
              </div>
              <div class="review-card_text">
                <p>We had a wonderful stay! The building itself is very impressive, beautiful title floors, great windows and light. And it was terrific to have a private bathroom for each room! The location is great a 5-10 min walk from the very center of town!  Our host was very responsive ...</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="review-page" alt="2">
            <div class="review-card">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/813692/pexels-photo-813692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_label">
                <%= image_tag 'hello.png' %>
                <h6>Dustin H.</h6>
                <%= image_tag 'stars.png' %>
              </div>
              <div class="review-card_text">
                <p>The location of this Airbnb is right in the heart of Getsamani and 7 minute walk from the old town. 9 beds total with almost every room coming with a toilet/shower. Staff were amazing and there to help in any way possible. Very clean!</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/276724/pexels-photo-276724.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_label">
                <%= image_tag 'bolo.png' %>
                <h6>Isabel M.</h6>
                <%= image_tag 'stars.png' %>
              </div>
              <div class="review-card_text">
                <p>Espectacular! Disfrutamos muchísimo la estadía en esta casa, es tal cual se ve en las fotos, impecable, muy cómoda, equipada con todo lo necesario; la playa es justo al frente de la casa, amplia, limpia y muy tranquila, pocos vendedores, poca gente. Absolutamente recomendado!!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item" id="page3">
          <div class="review-page" alt="3">
             <div class="review-card">
               <div class="review-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/276700/pexels-photo-276700.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="review-card_label">
                 <%= image_tag 'https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 <h6>Cristina G.</h6>
                 <%= image_tag 'stars.png' %>
               </div>
               <div class="review-card_text">
                 <p>Perfect house for our large group, very clean and staff was very attentive and always helpful.</p>
               </div>
             </div>
             <div class="review-card hidden-xs hidden-sm">
               <div class="review-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/1776574/pexels-photo-1776574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="review-card_label">
                 <%= image_tag 'gonzalo.png' %>
                 <h6>Noah B.</h6>
                 <%= image_tag 'stars.png' %>
               </div>
               <div class="review-card_text">
                 <p>This was an A+ experience. We had the time of our lives exploring the beautiful city and experiencing everything the city has to offer -- great food, great nightlife, beautiful weather and friendly people. Sergio's home is amazing, as well. The food which was prepared for breakfast was awesome...</p>
               </div>
             </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#reviews-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#reviews-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="reviews_bottom-section">
      <h2>Nuestro Personal Cuenta con Certificado de Excelencia</h2>
      <!-- <h3>Contamos con Plataformas que incluyen Guest Reviews</h3> -->
      <span></span>
    </div>
  </section>
  <section class="benefits" id="beneficios">
    <div class="benefits-mobile-header">
      <h1>¿Porque escogernos?</h1>
    </div>
    <div class="benefits-top-container">
      <div class="benefits-picture-container">
        <div class="benefits-image" style="background-image: url('https://images.pexels.com/photos/1446263/pexels-photo-1446263.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')" ></div>
      </div>
      <div class="benefits-top-paragraphs">
        <div class="benefits-browser-heading">
          <h1>¿Porque escogernos?</h1>
        </div>
        <div class="benefits-paragraph">
          <h4>Siempre, Tu Vas Primero</h4>
          <p>Nosotros ponemos tus necesidades como prioridad con políticas amigables para el propietario, no tenemos cláusulas de permanencia ni un límite para las estancias personales.</p>
        </div>
        <div class="benefits-paragraph">
          <h4>Equipo Profesional</h4>
          <p>Nuestro equipo cuenta con experiencia en hotelería y turismo, además los administradores de propiedades locales, amas de llaves y personal de mantenimiento dedican tiempo individual a cada propiedad, cuidando de tu hogar como si fuera propio.</p>
        </div>
      </div>
    </div>
    <div class="benefits-bottom-container">
      <div class="benefits-bottom-paragraphs">
        <div class="benefits-paragraph">
          <h4>Lavado de Calidad</h4>
          <p>Todos nuestros planes incluyen lavado, secado y doblado de su ropa de cama/ toallas a estándares hoteleros. Usamos los mismos productos y procesos para asegurarte la calidad mas alta con entrega a máximo 24 horas.</p>
        </div>
        <div class="benefits-paragraph">
          <h4>Mejor servicios, mejores precios</h4>
          <p>Manejamos las tarifas mas competitivas de la industria, 10% en nuestros plan básico hasta un 20% en el plan premium. Los días de pago excesivo de las tarifas de administración han terminado.</p>
        </div>
        <div class="benefits-paragraph">
          <h4>Estudios de Mercado</h4>
          <p>Nuestro equipo realiza un análisis exhaustivo de cada propiedad, se crea una estrategia de precios personalizada y una optimización dinámica de precios.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="contact_header">
      <h1>ESCRÍBENOS</h1>
    </div>
    <div class="contact_content">
      <div class="contact_content_form">
        <form action="https://formspree.io/torressilvasergio@gmail.com" method="post">
          <input placeholder="Primer Nombre y Apellido" type="text"  value="" required>
          <input placeholder="Correo Electronico" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
          <span class="validation-text">Por favor coloca una direccion de correo valida.</span>
          <div class="flex">
            <textarea placeholder="Mensaje" name="message" rows="1" required></textarea>
          </div>
          <input class="contact_form_button" type="submit" value="Enviar">
        </form>
      </div>
      <div class="contact_content_text hidden-xs hidden-sm">
        <p>
          Contáctanos y uno de nuestros asesores te estará contactando en las próximas 24 horas para programar una cita.
          <br><br>
          Adicionalmente, puedes comunicarte con nosotros al +57 3205422852 o escribirnos a simplehosting.col@gmail.com
        </p>
      </div>
    </div>
  </section>
</div>
